In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv("Employee.csv")

In [3]:
# Rename the JoiningYear Column
df = df.rename(columns = {'JoinngYear':'JoinYear'})

In [4]:
# Create new column 'Age Range'
df['Age_range'] = df["Age"].apply(lambda x: "Early Youth" if x < 31 else "Youths")

In [5]:
# Rename ExperienceInCurrentDomain column
df.rename(columns = {'ExperienceInCurrentDomain': 'Experience(year)'}, inplace = True)

In [6]:
# Replace in Education column, PhD with Masters
#df['Education'] = df['Education'].replace('PHD', 'Masters')

In [7]:
# import datasist as ds

In [8]:
# ds.structdata.describe(df)

In [9]:
# ds.visualizations.countplot(df)

In [10]:
#ds.visualizations.catbox(data = df, target = 'City', fig_size = (3,3))

In [11]:
# ds.visualizations.histogram(data = df, bins = 5, fig_size = (5,5))

In [12]:
# df.head()

In [13]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report

In [14]:
# Use Label encoder to transform education column
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()
df['Edu_rank'] = encoder.fit_transform(df['Education'])

In [15]:
df1 = df.copy()

In [16]:
df1 = pd.get_dummies(df1, columns = ['EverBenched', 'Gender','Age_range'],
                     #prefix = ['EverBenched', 'Gender','Age_range'],
                     drop_first = True, dtype = int)
df1.head()

,Education,JoiningYear,City,PaymentTier,Age,Experience(year),LeaveOrNot,Edu_rank,EverBenched_Yes,Gender_Male,Age_range_Youths
0,Bachelors,2017,Bangalore,3,34,0,0,0,0,1,1
1,Bachelors,2013,Pune,1,28,3,1,0,0,0,0
2,Bachelors,2014,New Delhi,3,38,2,0,0,0,0,1
3,Masters,2016,Bangalore,3,27,5,1,1,0,1,0
4,Masters,2017,Pune,3,24,2,1,1,1,1,0

In [17]:
# Split df into X features and y target
X = df1.drop(['LeaveOrNot', 'Education', 'City'], axis = 1)
y = df1['LeaveOrNot']
X.head()

,JoiningYear,PaymentTier,Age,Experience(year),Edu_rank,EverBenched_Yes,Gender_Male,Age_range_Youths
0,2017,3,34,0,0,0,1,1
1,2013,1,28,3,0,0,0,0
2,2014,3,38,2,0,0,0,1
3,2016,3,27,5,1,0,1,0
4,2017,3,24,2,1,1,1,0

In [18]:
# Split into train, test datasets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = 42)

In [19]:
model = LogisticRegression()

In [20]:
model.fit(X_train, y_train)

LogisticRegression()

In [21]:
prediction = model.predict(X_test)

In [23]:
accuracy = accuracy_score(y_test, prediction)
class_Report = classification_report(y_test, prediction)
Matrix = confusion_matrix(y_test, prediction)

print('Accuracy -', accuracy)
print('Report -', class_Report)
print('Confusion Matrix -', Matrix)

Accuracy - 0.6962750716332379
Report -               precision    recall  f1-score   support

           0       0.71      0.90      0.80       920
           1       0.61      0.30      0.40       476

    accuracy                           0.70      1396
   macro avg       0.66      0.60      0.60      1396
weighted avg       0.68      0.70      0.66      1396

Confusion Matrix - [[831  89]
 [335 141]]

In [25]:
import pickle

In [26]:
# Save the model to a file
with open('model.pkl', 'wb') as file:
    pickle.dump(model, file)

In [27]:
# # Load the model
# with open('model.pkl', 'rb') as file:
#     loaded_model = pickle.load(file)